#arr2 {
    /* background-image: url('../assets/img/home/FutureofAdvertising.png'); */
    /* height: 100vh; */
    background-position: center;
    position: relative;
    /* margin: 10rem auto; */

    overflow: hidden;
    background-size: cover;
    padding-top: 10rem;
}


#arr2-1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 64px;
    /* or 141% */

    text-align: center;
    letter-spacing: -0.055em;

    background: linear-gradient(90.23deg, #0098BB 18.77%, #340031 83.27%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#arr2-3 {
    display: block;
    margin: auto;
}


#arr2-2-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    /* or 212% */

    text-align: center;
    letter-spacing: -0.055em;

    color: #000000;
}

#arr2-2-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    width: 56%;
    margin: auto;
    text-align: center;

    color: #141414;

    mix-blend-mode: normal;
}

#arr3 {
    overflow-x: hidden;
    margin: 10rem auto;
}

#arr3-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    /* identical to box height, or 212% */
    margin: 1rem auto;
    margin-bottom: 4rem;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    background: linear-gradient(90deg, #00888F 4.32%, #770370 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#arr3-2 {
    display: flex;
}

#arr3-2-1 {
    animation: move1 60s linear infinite;
}

#arr3-2-2 {
    animation: move2 60s linear infinite;
}

@keyframes move1 {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes move2 {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    50.01% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-100%);
    }

}

#arr4 {
    display: flex;
    padding: 5rem;
    align-items: center;
    justify-content: space-evenly;
}

#arr4-1 {
    width: 39%;
}

#arr4-2{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

#arr4-2 img{
    transition-duration: 0.5s;
}
#arr4-2 img:hover{
    transform: scale(1.3);
}
#arr4-1-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    /* or 212% */
    margin: 1rem auto;
    letter-spacing: -0.03em;

    background: linear-gradient(90.71deg, #0098BB 1.97%, #340031 31.53%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#arr4-1-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 126.19%;
    /* or 76px */
    margin: 1rem auto;
    letter-spacing: -1px;

    color: #000000;
}

#arr4-1-3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 158.69%;
    /* or 32px */
    padding-right: 3px;
    margin: 1rem auto;
    text-align: justify;

    color: #000000;
}

#arr5 {
    display: flex;
    align-items: center;
    padding: 5rem;
    margin-bottom: 25rem;
    justify-content: space-evenly;
}

.head-small {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    /* or 146% */

    letter-spacing: -0.03em;

    color: #000000;
}

.head-sub {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */

    text-align: justify;
    letter-spacing: -0.03em;

    color: #000000;
}


#arr5-2 {
    width: 36%;
}

#arr5-1 {
    width: 34%;
    /* background: url(../../src/assets/img/home/side-bg.svg); */

}
#sidebg{
    position: absolute;
    left: -23%;
    bottom: -67%;
    /* height: 455px; */
    height: 119%;
}

#arr5-2-1 {
    display: flex;
    align-items: end;
}

#arr5-2-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */

    text-align: justify;
    letter-spacing: -0.03em;

    color: #000000;
}

#arr5-2-1-1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 87px;
    /* or 124% */

    letter-spacing: -0.03em;

    color: #000000;
}

.img-block {
    display: block;
    height: 80px;
    width: 90px;
    margin: 1rem;
    margin-left: 0px;
}

.div-flex {
    display: flex;
    align-items: center;
}

.sub-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */
    margin: 1rem auto;
    text-align: justify;
    letter-spacing: -0.03em;

    color: #000000;
}

.heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 88px;
    /* identical to box height, or 440% */

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.subHeading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 168% */
    width: 88%;
    text-align: justify;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}

#arr6-1-1-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 88px;
    margin: 5rem 0px;
    /* identical to box height, or 88% */

    letter-spacing: -0.05em;

    color: #FFFFFF;
}

#arr6-1 {
    background: linear-gradient(158.04deg, #00888F 0%, #340031 85.96%), linear-gradient(179.33deg, #232323 1.89%, #101010 99.42%);
    width: 80%;
    padding: 30rem 7rem;
    padding-bottom: 10rem;
    position: relative;
    box-sizing: border-box;
}

#arr6 {
    margin: 10rem auto;
}

#arr6-1-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#arr6-1-1-2,
#arr6-1-1-3 {
    width: 45%;
    margin: 5rem 0px;
    margin-top: 2rem;
}

#arr6-img {
    top: -20rem;
    left: -5rem;
    position: absolute;
    transition-duration: 1.5s;
}

#arr6-img:hover {
    transform: scale(1.05);
}

#arr6-1-2 .subHeading {
    width: 100%;
}

#arr6-2 {
    margin: 5rem 0px;
    margin-top: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#arr6-2-2-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 108px;
    /* identical to box height, or 108% */
    margin: 2rem auto;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}

#arr6-2-2 {
    width: 53%;
}

#arr6-2-2-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* or 152% */

    letter-spacing: -0.055em;
    margin: 2rem auto;
    color: #FFFFFF;
}

#arr6-2-2-3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 34px;
    /* identical to box height, or 223% */

    text-align: justify;
    letter-spacing: -0.05em;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    width: 177px;
    height: 48px;
    text-align: center;
    margin: 3rem auto;
    margin-bottom: 0px;
    color: #FFFFFF;
    transition-duration: 0.5s;
    cursor: pointer;
}

#arr6-2-2-3:hover {
    transform: scale(1.07);
}

.timehead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 77px;
    /* or 154% */

    display: flex;
    align-items: center;
    /* justify-content: end; */
    letter-spacing: -0.055em;
    /* text-align: right; */
    background: linear-gradient(101.17deg, #00888F 16.69%, #340031 71.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.timebody {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 166% */

    text-align: right;
    letter-spacing: -0.055em;

    color: #000000;
}

/* #arr8-1{
    display: flex;
    width: 45%;
} */

.time {
    text-align: right;
}

#arr8 {
    padding: 5rem 11vw;
    display: flex;
    
}


#arr8-2-1 {
    position: relative;
    padding: 0rem 6rem;
}

.img-absolute {
    position: absolute;
}
/* @media screen and (max-width: 1600px) {
    #arr8-2-1{
        padding-left: 3vw;
    }
  } */

#arr8-img1 {
    top: 65px;
    left: 105px;
    animation: grow 2s ease-in-out infinite;
}

#arr8-img2 {

    /* top: 115px;
    left: 155px; */
    top: 65px;
    left: 105px;
    animation: grow 2s ease-in-out infinite;
    animation-delay: 0.2s;

}

#arr8-img3 {
    /* top: 160px;
    left: 200px; */
    top: 65px;
    left: 105px;
    animation: grow 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

#arr8-img4 {
    scale: 0.4;
    top: 10px;
}

@keyframes grow {
    0% {
        scale: 0;
        opacity: 0;
    }

    40% {
        opacity: 1;
    }


    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        scale: 1;
    }
}

#arr8-2 {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
}

#arr8-2-1 {
    height: 600px;
}

#arr8-2-2 {
    width: 70%;
    margin-left: 7rem;
}

#arr8-2-2-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    /* or 140% */
    margin: 1rem 0px;
    letter-spacing: -0.055em;
    text-transform: capitalize;

    color: #000000;
}

#arr8-2-2-2 {
    background: linear-gradient(98.29deg, #0098BB 13.95%, #340031 83.83%);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    border: none;
    width: 144px;
    height: 46px;
    margin: 1rem 0px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}

#arr8-2-2-2:hover {
    transform: scale(1.05);
}

#arr8-2-2-3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    /* or 164% */
    margin: 1rem 0px;
    letter-spacing: -0.055em;

    color: #000000;
}

#arr8-0 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    /* or 212% */
    /* width: 100vw; */
    width: 23%;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: -0.055em;
    text-transform: uppercase;

    background: linear-gradient(90.23deg, #0098BB 18.77%, #340031 83.27%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#arr7-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    /* or 212% */
    width: 15%;
    margin: auto;
    text-align: center;
    letter-spacing: -0.03em;

    background: linear-gradient(90.23deg, #0098BB 18.77%, #340031 83.27%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#arr7-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 64px;
    /* or 159% */

    text-align: center;
    letter-spacing: -0.055em;
    width: 21%;
    margin: auto;

    background: linear-gradient(90.23deg, #0098BB 18.77%, #340031 83.27%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


#back0{
    display: flex;
    /* background: linear-gradient(180deg, #00888F 0%, #2E012B 88.53%); */
    position: absolute;
    top: -20px;
    height: 100%;
    z-index: -1;
}


#back11 {
    animation: move11 15s linear infinite;
    opacity: 1;
    width: 100vw;
}

#back12 {
    animation: move12 15s linear infinite;
    opacity: 1;
    width: 100vw;
}

@keyframes move11 {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes move12 {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    50.01% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-100%);
    }

}